* {
    padding: 0;
    margin: 0;
}

html{ zoom: 150%; }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
    background: url(images/background.jpeg) no-repeat center center/ cover;
}

.result {
    display: flex;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 1px 2px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px;
    padding: 2px;
}

span {
    padding: 5px 16px;
}

#player {
    border: 2px dotted green;
}

#computer {
    border: 2px dotted red;
}

.score {
    display: flex;
    gap: 2px;
}

.retry {
    display: none;
}